* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  color: #333;
  font-size: 62.5%;
  font-family: "Open Sans", sans-serif;
}

.main {
  background-color: rgb(202, 206, 209);
  min-height: 100vh;
  display: flex;
  justify-content: center;
}

.form {
  width: 360px;
  min-height: 100px;
  padding: 32px 24px;
  text-align: center;
  background-color: #fff;
  border-radius: 5px;
  margin: 24px;
  align-self: center;
  box-shadow: 0 2px 5px 0 rgba(51, 62, 73, 0.1);
}

.form .heading {
  font-size: 28px;
  color: rgb(31, 30, 30);
}

.form .decs {
  text-align: center;
  margin-top: 16px;
  font-weight: lighter;
  font-weight: 300;
  line-height: 2.4rem;
  font-size: 1.6rem;
  color: rgb(70, 67, 67);
}

.form-group {
  display: flex;
  margin-bottom: 15px;
  flex-direction: column;
}

.form-label,
.form-message {
  text-align: left;
}

.form-label {
  font-weight: 700;
  padding-bottom: 6px;
  line-height: 1.8rem;
  font-size: 1.4rem;
}

.form-control {
  height: 40px;
  padding-left: 8px;
  font-size: 1.4rem;
  outline: none;
  border: solid 1px rgb(80, 78, 78);
  border-radius: 3px;
}

.form-control:focus {
  border: solid 1px rgb(10, 173, 4);
  box-shadow: 1px 1px 1px 1px rgba(43, 158, 43, 1);
}

.form-group.invalid .form-message {
  color: #f33a58;
}

.form-message {
  font-size: 1.2rem;
  line-height: 1.6rem;
  padding: 4px 0 0;
  height: 1.3rem;
}

.form-btn {
  outline: none;
  margin-top: 12px;
  width: 100%;
  padding: 8px 10px;
  color: rgb(233, 234, 235);
  background-color: #f33a58;
  border: none;
  font-weight: 700;
  font-size: 1.7rem;
  cursor: pointer;
  transition-duration: 0.3s;
}

.form-btn:hover {
  color: #f33a58;
  background-color: #fcfcfc;
  padding: 8px 10px;
  border: solid 1px #f33a58;
}

input[type='checkbox'] {
    accent-color: #f33a58;
    cursor: pointer;
}

.check-text, .check-text a{
    color: #3f1c1c;
    line-height: 1.6rem;
    font-size: 1.2rem;
    padding: 2px 3px;
}

.spacer {
  margin-top: 36px;
}
